/* This CSS works effectively on both web and mobile */

body {
    background-color: #e5e3e3;
}

#homeImage {
    height: 50%;
    width: 50%;
}

.homeDiv {
    text-align: center;
}

ul {
    list-style-type: none;
}

nav {
    text-align: center;
}

h1, h2 {
    text-align: center;
}

nav ul li {
    padding: 1em;
    border: 3px solid black;
    margin: 2em;
    background-color: white;
    color: black;
}

.content {
    text-align: center;
}

.contentImage {
    height: 50%;
    width: 50%;
}

.about {
    text-align: center;
}

.pageNav a {
    margin: 1em;
    color: black;
    border: 1px solid black;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}